# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

/*
/*/

!.editorconfig
!.gitignore
!config.xml
!ionic.config.json
!package-lock.json
!package.json
!/src/
!tsconfig.json
!tslint.json
