page-home {
    .right {
        text-align: right;
    }

    .width {
        min-width: 70% !important;
        max-width: 70% !important;
    }

    .height {
        min-height: 10% !important;
        max-height: 10% !important;
    }

    .height2 {
        min-height: 15% !important;
        max-height: 15% !important;
    }

    .range-knob {
        width: 12px !important;
        height: 12px !important;
    }

    .range-pin {
    }

}
